{
  "presets": [
    // https://github.com/babel/babel-preset-env
    "@babel/preset-env",
    // https://github.com/babel/minify/tree/master/packages/babel-preset-minify
    [
      "minify",
      {
        "keepFnName": true,
        "keepClassName": true
      }
    ]
  ],
  "plugins": []
}
